<html>
    <head>
        <title> ProjectAfrika</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Contact Us</a></h1>
        </div>
        <div>
            {% block title %}Contact - {% endblock %}

            {% block content %}
            <h1>Contact</h1>
            <form role="form" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Submit</button>
            </form>
            {% endblock %}
        </div>
        </div>
    </body>
</html>