<html>
    <head>
        <title> ProjectAfrika</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog</a></h1>
        </div>
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    </body>
</html>